<div class="help-container">
    <div class="introduction text-center mb-2">
        <h2 class="text-lg">Welcome to PhenopacketCurator!</h2>
    </div>
    <p-accordion value="">
        <p-accordion-panel value="0">
            <p-accordion-header>Template Creation & Selection</p-accordion-header>
            <p-accordion-content>
                <p class="m-0">
                    Create a new template by selecting 'New Template' in the template search and fill out the form. You
                    can also select from a pre-existing template and start editing right away.
                </p>
            </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel value="1">
            <p-accordion-header>Table Editing</p-accordion-header>
            <p-accordion-content>
                <p class="m-0">
                   Fill out content on how to use the table to copy/paste etc..
                </p>
            </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel value="2">
            <p-accordion-header>Text Minings</p-accordion-header>
            <p-accordion-content>
                <p class="m-0">
                   Text Mining is a powerful feature that allows you to extract relevant information from clinical texts.
                    You can use this to help add HPO terms to your template.
                </p>
            </p-accordion-content>
        </p-accordion-panel>
    </p-accordion>
</div>
