<h2 mat-dialog-title>Edit Disease</h2>
<mat-dialog-content>
    <form [formGroup]="form">
        <mat-form-field appearance="fill" class="w-full">
        <mat-label>Disease ID</mat-label>
        <input matInput formControlName="diseaseId" (blur)="diseaseIdTouched = true" />
        <mat-error *ngIf="form.get('diseaseId')?.hasError('required') && diseaseIdTouched">
            Disease ID is required
        </mat-error>
        <mat-error *ngIf="form.get('diseaseId')?.hasError('whitespace') && diseaseIdTouched">
            Leading or trailing whitespace is not allowed
        </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full">
        <mat-label>Disease name</mat-label>
        <input matInput formControlName="diseaseLabel"/>
        <mat-error *ngIf="form.get('diseaseLabel')?.hasError('required')">
            Disease Label is required
        </mat-error>
        <mat-error *ngIf="form.get('diseaseLabel')?.hasError('whitespace')">
            Leading or trailing whitespace is not allowed
        </mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="form.invalid">Save</button>
</mat-dialog-actions>
