<div class="primary-divider">
  <h1 class="h1-primary">Status</h1>
  <div *ngIf="diseaseGeneDto">
    <h3>Template type: {{diseaseGeneDto.templateType}}</h3>
    <div *ngIf="diseaseGeneDto.templateType == 'mendelian'">
      <div *ngIf="mendelianDiseaseOmimUrl as omimUrl; else showLabelOnly">
        <p>
          {{ diseaseGeneDto.diseaseDtoList[0].diseaseLabel }}
          <a [href]="omimUrl" target="_blank" rel="noopener" 
            class="status-anchor">
            {{ diseaseGeneDto.diseaseDtoList[0].diseaseId }}
          </a>
        </p>
      </div>
    </div>
    <ng-template #showLabelOnly>
      <p>
        Disease:
        {{ diseaseGeneDto.diseaseDtoList[0].diseaseLabel }}
        ({{ diseaseGeneDto.diseaseDtoList[0].diseaseId }})
      </p>
    </ng-template>
 

<!-- gene data -->
  <div *ngIf="hgncGeneUrl as hgncUrl; else showGeneOnly">
      <a [href]="hgncGeneUrl" target="_blank" rel="noopener"
        class="status-anchor">
            {{ diseaseGeneDto.geneTranscriptDtoList[0].geneSymbol }}
           
      </a>
       ({{ diseaseGeneDto.geneTranscriptDtoList[0].transcript }})
   </div>
   <ng-template #showGeneOnly>
      <p>
        {{ diseaseGeneDto.geneTranscriptDtoList[0].geneSymbol }}
         (HGNC: {{ diseaseGeneDto.geneTranscriptDtoList[0].hgncId }}; {{ diseaseGeneDto.geneTranscriptDtoList[0].transcript }})
      </p>
    </ng-template>



 </div>
<div *ngIf="diseaseGeneDto == null">
  <div class="error-container">
    <p class="error-message">Disease/Gene DTO not initialized.</p>
  </div>
</div>

<p>Cohort statistics</p>
<ul>
  <li>{{ phenopacketCount}} phenopackets</li>
   <li>{{ hpoTermCount}} HPO terms used for annotation</li>
</ul>
