@let cohort = (cohortDto$ | async);

<div class="primary-divider">
  <h1 class="h1-primary">Status</h1>
    @if (cohort && diseaseGeneDto) {
    <h3>Template type: {{diseaseGeneDto.templateType}}</h3>
      @if (diseaseGeneDto.templateType == "mendelian") {
        @if (mendelianDiseaseOmimUrl; as omimUrl) {
          <p>
            {{ diseaseGeneDto.diseaseDtoList[0].diseaseLabel }}
            <a [href]="omimUrl" target="_blank" rel="noopener" 
              class="status-anchor">
              {{ diseaseGeneDto.diseaseDtoList[0].diseaseId }}
            </a>
        } @else {
          <!-- i.e., for some reason we cannot create the URL-->
          <p> 
            Disease:
            {{ diseaseGeneDto.diseaseDtoList[0].diseaseLabel }}
            ({{ diseaseGeneDto.diseaseDtoList[0].diseaseId }})
          </p>
        }
  } @else {
    <p>Need to implement for non-Mendelian template!</p>
  }
  <!-- gene data -->
  @if (hgncGeneUrl; as hgncUrl) {
    <a [href]="hgncUrl" target="_blank" rel="noopener" class="status-anchor">
      {{ diseaseGeneDto.geneTranscriptDtoList[0].geneSymbol }}
    </a>
    ({{ diseaseGeneDto.geneTranscriptDtoList[0].transcript }})
  } @else {
    <p>
      {{ diseaseGeneDto.geneTranscriptDtoList[0].geneSymbol }}
      (HGNC: {{ diseaseGeneDto.geneTranscriptDtoList[0].hgncId }};
      {{ diseaseGeneDto.geneTranscriptDtoList[0].transcript }})
    </p>
  } 
}

 



@if (diseaseGeneDto == null) {
  <div class="error-container">
    <p class="error-message">Disease/Gene DTO not initialized.</p>
  </div>
}


<p>Cohort statistics</p>
<ul>
  <li>{{ cohort?.rows?.length }} phenopackets</li>
   <li>{{ cohort?.hpoHeaders?.length}} HPO terms used for annotation</li>
</ul>

<div style="margin-top: 16px; text-align: right;">
    <button (click)="showJson = true" class="btn-outline-primary">Show Cohort JSON</button>
    <button (click)="showJson = false" class="btn-outline-primary" style="margin-left: 8px;">Hide JSON</button>
</div>


@if (showJson) {
  <p><span>✅</span>CohortDTO loaded with {{ cohort?.rows?.length }} rows.</p>
  <pre>{{ cohort | json }}</pre>
} 

@if (!cohort){
  <p><span>❌</span>Cohort DTO not loaded.</p>
}

