@if (showMoi()) {
  <div class="moi-container">
    <h3 class="moi-title">
      Select Mode(s) of Inheritance
    </h3>

    <!-- MOI checkboxes and PubMed inputs -->
    <div class="moi-grid">
      @for (moi of moiTerms(); track moi; let moiIdx = $index) {
        <div class="moi-item">
          <!-- Checkbox -->
          <div class="moi-checkbox-row">
            <input 
              type="checkbox" 
              [(ngModel)]="moi.selected"
              id="{{ moi.id }}"
              class="moi-checkbox"
            />
            <label [for]="moi.id" class="moi-label">
              {{ moi.label }}
            </label>
          </div>

          @if (moi.selected) { 
            <button (click)="openPubmedDialog(moi)" class="btn-outline-primary">🔍 Lookup PubMed</button>
            <
            @if (moi.pmid != null) {
              <p class="moi-pmid">{{ moi.pmid }}</p>
            } @else {
              <p class="moi-pmid">PMID (required)</p>
            }
          }
        </div>
      }
    </div>

    <!-- Confirm & Cancel buttons -->
    <div class="moi-actions">
      <button 
        class="btn-outline-primary"
        [disabled]="confirmDisabled"
        (click)="confirmSelection()">
        Confirm
      </button>

      <button 
        class="btn-outline-cancel"
        (click)="cancelSelection()">
        Cancel
      </button>
    </div>
  </div>
  <!-- Selected summary -->
    <div class="hint-text">
    @if (selectedMoiWithPmids.length > 0) {
        <p>
        Selected:
        @for (moi of selectedMoiWithPmids(); track moi; let last = $last) {
            {{ moi.label }} @if(moi.pmid) {. ({{ moi.pmid }}) }{{ !last ? ', ' : '' }}
        }
        </p>
    }

    @if (selectedMoiWithPmids.length === 0) {
        <p class="hint-text-empty">No inheritance mode selected</p>
    }
    </div>
}


