<dialog #dialogEl class="orcid-modal manual-hgvs-modal">
  <div class="dialog-content">
    <div class="review-header">
      <h2>Add Variant</h2>
    </div>

    <div class="dialog-body">
      <form [formGroup]="form" class="flex flex-col gap-3">
         <div class="form-field">
          <label for="chr">Chromosome</label>
          <input id="chr" formControlName="chr" type="text" />
        </div>

        <div class="form-field">
          <label for="position">Position</label>
          <input id="position" formControlName="position" type="number" />
        </div>

        <div class="form-field">
          <label for="refAllele">Reference Allele</label>
          <input id="refAllele" formControlName="refAllele" type="text" />
        </div>

        <div class="form-field">
          <label for="altAllele">Alternate Allele</label>
          <input id="altAllele" formControlName="altAllele" type="text" />
        </div>

        <div class="form-field">
          <label for="symbol">Gene Symbol</label>
          <input id="symbol" formControlName="symbol" type="text" />
        </div>

        <div class="form-field">
          <label for="hgncId">HGNC ID</label>
          <input id="hgncId" formControlName="hgncId" type="text" />
        </div>

        <div class="form-field">
          <label for="hgvs">HGVS</label>
          <input id="hgvs" formControlName="hgvs" type="text" />
        </div>

        <div class="form-field">
          <label for="transcript">Transcript</label>
          <input id="transcript" formControlName="transcript" type="text" />
        </div>

        <div class="form-field">
          <label for="gHgvs">Genomic HGVS</label>
          <input id="gHgvs" formControlName="gHgvs" type="text" />
        </div>
      </form>
    </div>

    <div class="dialog-actions">
      <button type="button" class="btn-outline-cancel" (click)="onCancel()">Cancel</button>
      <button type="button" class="btn-outline-primary" [disabled]="form.invalid" (click)="onSave()">Save</button>
    </div>
  </div>
</dialog>