<mat-form-field class="w-full" appearance="outline">
  <input type="text"
    #hpoInput
    [placeholder]="placeholder()"
    matInput
    [formControl]="control"
    [matAutocomplete]="auto"
    spellcheck="false"
    autocomplete="off">

  @if (control.value) {
    <button matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
      <mat-icon>close</mat-icon>
    </button>
  }
  
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onOptionSelected($event)">
    @for (option of options(); track $index) {
      <mat-option [value]="option">
        <div class="flex flex-col leading-tight">
          <span class="text-sm font-medium">{{ option.matchedText }}</span>
          @if (option.matchedText !== option.label) {
            <small class="opacity-70 italic">Primary: {{ option.label }}</small>
          }
          <small class="text-blue-600 text-xs">{{ option.id }}</small>
        </div>
      </mat-option>
    }
  </mat-autocomplete>
  @if (control.hasError('invalidSelection') && control.touched) {
    <mat-error>Please select a term from the list</mat-error>
  }
</mat-form-field>