<mat-form-field class="full-width-field" appearance="outline">
  <input type="text"
    #hpoInput
    [placeholder]="placeholder()"
    matInput
    [formControl]="control"
    [matAutocomplete]="auto"
    spellcheck="false"
    autocomplete="off">

  @if (control.value) {
    <button matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
      <mat-icon>close</mat-icon>
    </button>
  }
  
  <mat-autocomplete 
    #auto="matAutocomplete" 
    [displayWith]="displayFn" 
    (optionSelected)="onOptionSelected($event)">
    @for (option of options(); track $index) {
      <mat-option [value]="option">
        <div class="option-container">
          <span class="option-matched-text">{{ option.matchedText }}</span>
          @if (option.matchedText !== option.label) {
            <small class="option-primary-label">Primary: {{ option.label }}</small>
          }
          <small class="option-id">{{ option.id }}</small>
        </div>
      </mat-option>
    }
  </mat-autocomplete>
  @if (control.hasError('invalidSelection') && control.touched) {
    <mat-error>Please select a term from the list</mat-error>
  }
</mat-form-field>