<mat-card class="p-1 pb-0 mb-0">
  <ng-content select="[card-title]"></ng-content>

  <div class="flex items-center gap-4">
    <!-- Text field (approx. 50% width) -->
    <mat-form-field class="flex-1 min-w-[300px]" appearance="outline">
      <input type="text"
            placeholder="Search HPO term"
            matInput
            [formControl]="control"
            [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button class="btn-outline-primary"
            color="primary"
            (click)="submitTerm()">
      Submit Term
    </button>
  </div>
</mat-card>
