@use './variables' as *;

button.btn-outline-primary {
  @apply 
    border font-medium rounded-lg text-sm px-5 py-2.5 
    text-center transition-all duration-200 disabled:cursor-not-allowed;

  // Use your SCSS variables for the specific colors
  border-color: $blue-primary;
  color: $blue-primary;

  &:hover:not(:disabled) {
    background-color: $blue-primary;
    color: white;
  }

  &:focus {
    @apply outline-none ring-2;
    --tw-ring-color: #{rgba($blue-primary, 0.3)};
  }

  &:disabled {
    @apply bg-gray-100 text-gray-400 border-gray-200;
  }
}

button.btn-outline-danger {
  @apply 
    border font-medium rounded-lg text-sm px-5 py-2.5 
    text-center transition-all duration-200 disabled:cursor-not-allowed;

  border-color: $color-warn;
  color: $color-warn;

  &:hover:not(:disabled) {
    background-color: $color-warn;
    color: white;
  }

  &:focus {
    @apply outline-none ring-2;
    --tw-ring-color: #{rgba($color-warn, 0.3)};
  }
}