<p>Copy clinical text into the system clipboard and paste it into the app.</p>
<button (click)="readClipboard()">Paste clinical text from system clipboard</button>
<p>HPO INITIAILIZE {{hpoInitialized}}</p>

<p *ngIf="clipboardContent">Original text: {{ clipboardContent }}</p>

<!-- Display the table if jsonData is available -->
<table *ngIf="jsonData.length">
  <thead>
    <tr>
      <!-- Create table headers dynamically -->
      <th *ngFor="let key of getObjectKeys(jsonData[0])">{{ key }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of jsonData; let i = index" [ngClass]="{'highlight': item.status === 'active'}">
      <td *ngFor="let key of getObjectKeys(item)">
        {{ item[key] }}
      </td>
      <!-- New Column with Radio Buttons and Input -->
      <td>
        <div *ngFor="let option of predefinedOptions">
          <input type="radio" [name]="'option_' + i" [(ngModel)]="selectedOptions[i]" [value]="option">
          {{ option }}
        </div>

        <!-- Input Field for Custom Option -->
        <input type="text" [(ngModel)]="customOptions[i]" placeholder="Enter custom option">
        <button (click)="addCustomOption(i)">Add</button>
      </td>
    </tr>
  </tbody>
</table>

<p>Selected Options: {{ selectedOptions | json }}</p>


 

