<div class="phetools-loader-container">

  <div class="button-stack">
      <button (click)="onFileSelected($event)">
        {{ successfullyLoaded ? 'Select phetools template file' : 'Select phetools template file' }}
      </button>
      <button (click)="onFileSelected($event)">Create new template</button>
  </div>
  
  
  <div *ngIf="successfullyLoaded" class="success-message">
    Loaded {{ filePath }}
  </div>
  
  <div *ngIf="loadError" class="error-message">
    Error loading file: {{ loadError }}
  </div>
  

</div>
   
