:host {
  display: block;
}

.app-shell {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Takes at least the full window height */
}


.content-area {
  flex: 1 0 auto;
  min-width: 0;
  overflow-y: auto; 
}
