.review-table-container {
  max-height: 65vh;
  overflow-y: auto;
}

.hpo-chip {
  background-color: #eef2ff !important; // Tailwind blue-50
  color: #1e40af !important;           // Tailwind blue-800
  border: 1px solid #dbeafe !important; // Tailwind blue-100
  
  ::ng-deep .mat-mdc-chip-remove {
    color: #3b82f6;
  }
}

tr.is-confirmed {
  background-color: #f0fdf4; // Very light green success state
}

.status-toggle {
  mat-button-toggle {
    font-size: 12px;
  }
}

tr.is-ignored {
  background-color: #fafafa;
  opacity: 0.6;
  filter: grayscale(1);
  transition: all 0.2s ease;
  
  /* Prevent interaction with the autocomplete while ignored */
  .mat-column-mapping {
    pointer-events: none;
  }
}