<h2 mat-dialog-title>
      {{ data.alleleKey ? 'Edit allele count for ' + data.alleleKey : 'Add new allele' }}
    </h2>

    <mat-dialog-content class="flex flex-col gap-y-4">
      @if(!data.alleleKey){
        <mat-form-field>
            <mat-label>Allele Key</mat-label>
            <input matInput [(ngModel)]="alleleKey" />
        </mat-form-field>
    }

      <mat-form-field>
        <mat-label>Count</mat-label>
        <input matInput type="number" [(ngModel)]="count" />
      </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button (click)="cancel()">Cancel</button>
        @if(data.alleleKey){
            <button  mat-button color="warn" (click)="delete()">
                Delete
            </button>
        }

      <button mat-raised-button color="primary" (click)="save()">
        {{ data.alleleKey ? 'Save' : 'Add' }}
      </button>
    </mat-dialog-actions>