<div class="clinical-text-container">
  <label class="label-primary">
    Paste clinical text
  </label>
  <div class="input-section">
    <textarea
      [(ngModel)]="pastedText"
      rows="15"
      placeholder="Paste here with ctrl-V..."
      class="clinical-textarea"
    ></textarea>
    <div class="actions-footer">
      <button (click)="runTextMining()"  class="btn-outline-primary">Run HPO Text Mining</button>
      <button class="btn-outline-primary" (click)="onCancel()">Cancel</button>
     </div>
  </div>
</div>
