.file-loader {
    margin: 10px;
  }
  
  .progress-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Make sure it overlays other content */
  }
  
  mat-spinner {
    color: #3f51b5; /* Primary color, change to suit your theme */
  }
  
  .progress {
    height: 100%;
    background-color: #2196f3;
    border-radius: 8px;
    text-align: center;
    color: white;
    transition: width 0.3s ease;
  }
  
  .success-message {
    color: green;
    margin: 10px 0;
  }
  
  .error-message {
    color: red;
    margin: 10px 0;
  }
  