<div class="hpo-loader-container">
<!--
  <div class="file-loader">
    <button (click)="onFileSelected($event)">
      {{ successfullyLoaded ? 'Reload hp.json' : 'Select hp.json' }}
    </button>

    <div *ngIf="isLoading" class="progress-container">
      <div class="progress-bar">
        <div class="progress-bar-fill" [ngStyle]="{'width': progress + '%'}"></div>
      </div>
    </div>

    <div *ngIf="successfullyLoaded" class="success-message">
      File loaded successfully!
    </div>

    <div *ngIf="loadError" class="error-message">
      Error loading file: {{ loadError }}
    </div>

    <div class="file-info">
      <div>
        <h3>File Path:</h3>
        <pre>{{ filePath }}</pre>
      </div>
      <div>
        <h3>HPO Version:</h3>
        <pre>{{ hpoVersion }}</pre>
      </div>
    </div>
  </div>-->

<button (click)="chooseHpJsonFile()" class="settings-button">Select hp.json file</button>
    <p *ngIf="hpJsonPath" class="settings-text">{{ hpJsonPath }}</p>
    <p *ngIf="hpJsonPath" class="settings-text">Version: {{ hpoVersion }}</p>  
    <div *ngIf="isLoading" class="spinner-container">
      <svg
      class="spinner"
      width="32"
      height="32"
      viewBox="0 0 100 100"
      xmlns="http://www.w3.org/2000/svg"
    >
      <defs>
        <linearGradient id="spinnerGradient" x1="0%" y1="0%" x2="100%" y2="100%">
          <stop offset="0%" stop-color="#ef4444" />   <!-- red -->
          <stop offset="100%" stop-color="#3b82f6" /> <!-- blue -->
        </linearGradient>
      </defs>
    
      <circle
        cx="50"
        cy="50"
        r="20"
        stroke="url(#spinnerGradient)"
        stroke-width="6"
        fill="none"
        stroke-linecap="round"
        stroke-dasharray="90 150"
      >
        <animateTransform
          attributeName="transform"
          type="rotate"
          from="0 50 50"
          to="360 50 50"
          dur="1s"
          repeatCount="indefinite"
        />
      </circle>
    </svg>
  </div>
</div>