
.context-menu {
    position: fixed;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10000;
    min-width: 100px;
  }
  
  .context-menu button {
    display: block;
    width: 100%;
    padding: 8px;
    text-align: left;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .context-menu button:hover {
    background-color: #eee;
  }


.context-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.context-menu li {
  padding: 8px 12px;
  cursor: pointer;
}

.context-menu li:hover {
  background-color: #ddd;
}

.table-container {
  position: relative;
}

.ppt-table {
  border-collapse: collapse;
  width: max-content;
  table-layout: auto;
}
  
.ppt-table td, .ppt-table th {
  border: 1px solid #ddd;
  padding: 4px;
  max-width: 80px;
  white-space: nowrap;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ppt-table thead th {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 10;
}
  
.ppt-table tr:hover {
  background-color: #f1f1f1;
}

.ppt-table th {
  transform: rotate(-90deg);
  transform-origin: left bottom;
  white-space: nowrap;
  width: 40px;
  height: 100px;
  padding: 5px;
  vertical-align: bottom;
  position: relative;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;

}

.table-scroll-wrapper {
  overflow-x: auto;
  max-width: 100%;
}


::ng-deep .cell-observed {
  color: black;
  background-color: #88e788;
  font-weight: bold;
}

::ng-deep .cell-excluded {
  color: black;
  background-color: #ffe6e6;
  font-weight: bold;
}

::ng-deep .cell-na {
  color: grey;
  font-weight: normal;
}

.cell-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 200px;
  vertical-align: bottom;
}

.angled-header {
  transform: rotate(-45deg);
  transform-origin: bottom left;
  position: absolute;
  bottom: 0;
  left: 0;
}