<p>This will be the pane that shows the entire table and enables individual columns or cells to be selected.</p>


  <div (click)="hideContextMenu()" class="table-container">
  <table class="ppt-table">
    <tr *ngFor="let row of tableData; let rowIndex = index">
      <td *ngFor="let key of getKeys(row); let colIndex = index"
          (contextmenu)="onRightClick($event, rowIndex, colIndex)">
          {{ getValue(row, key) }}
      </td>
    </tr>
  </table>
</div>
<p>hello w</p>



<!-- Context Menu -->
<div *ngIf="showContextMenu" 
    [style.left.px]="contextMenuPosition.x" 
    [style.top.px]="contextMenuPosition.y" 
    class="context-menu">
    <button>Hardcoded Item</button>
    <button *ngFor="let item of contextMenuItems" (click)="onMenuItemClick(item)">
      {{ item }}
    </button>
   
    
  </div>  
