@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @import "tailwindcss/base";
}

@layer tailwind-utilities {
  @import "tailwindcss/components";
  @import "tailwindcss/utilities";
}

@import "primeicons/primeicons.css";


app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html, body {
  height: 100%;
}


app-header {
  flex: 0 1 auto;
}

.app-body {
  flex: 1 1 auto;
}

app-footer {
  flex: 0 1 auto;
}
