@use "@angular/material" as mat;

@include mat.core();

@import '@angular/material/prebuilt-themes/indigo-pink.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


button.btn-outline-primary {
  @apply 
    text-blue-700
    border border-blue-700
    hover:bg-blue-800
    hover:text-white
    focus:ring-4
    focus:outline-none
    focus:ring-blue-300
    font-medium
    rounded-lg
    text-sm
    px-5 py-2.5
    text-center
    me-2 mb-2
    transition-colors duration-200
    dark:border-blue-500
    dark:text-blue-500
    dark:hover:bg-blue-500
    dark:hover:text-white
    dark:focus:ring-blue-800

    disabled:bg-gray-200
    disabled:text-gray-400
    disabled:border-gray-300
    disabled:cursor-not-allowed
    dark:disabled:bg-gray-700
    dark:disabled:text-gray-500
    dark:disabled:border-gray-600;
}

button.btn-outline-cancel {
  @apply 
    text-gray-600
    border border-gray-500
    hover:bg-gray-200
    hover:text-black
    focus:ring-2
    focus:outline-none
    focus:ring-gray-400
    font-medium
    rounded-lg
    text-sm
    px-5 py-2.5
    text-center
    me-2 mb-2
    transition-colors duration-200
    dark:border-gray-400
    dark:text-gray-400
    dark:hover:bg-gray-600
    dark:hover:text-white
    dark:focus:ring-gray-600;
}


.h1-primary {
  @apply text-3xl md:text-4xl font-semibold text-gray-800 tracking-tight;
   margin-bottom: 0.4rem; /* px */
}

.h2-primary {
  @apply text-2xl md:text-3xl font-semibold text-gray-800 tracking-tight;
  margin-top: 1.0rem; /* 16px */
  margin-bottom: 0.2rem; /* px */
}

.p-primary {
  @apply text-base md:text-lg text-gray-600 leading-relaxed;
}

.label-primary {
  @apply text-sm md:text-base font-medium text-gray-700 tracking-wide;
}

.primary-divider {
  @apply border-t border-gray-200 dark:border-gray-700 
    mt-2
    pt-1
    px-5
    text-sm text-gray-500 
}

.primary-box {
  @apply space-y-4 p-4 border rounded-md bg-white dark:bg-transparent;
}

.primary-box h1
.primary-divider h1 {
  @apply text-center font-bold text-3xl; /* Largest and bold */
}

.primary-box h2
.primary-divider h2 {
  @apply text-left font-bold text-2xl mt-2.5;  /* Slightly smaller, less bold */
}

.primary-box h3
.primary-divider h3 {
  @apply text-left font-bold text-xl mt-2.5;   /* Even smaller, normal weight */
}

.primary-box p
.primary-divider p {
    @apply text-left mt-0;
}

.primary-list {
    @apply list-disc list-inside space-y-2 text-gray-700 dark:text-gray-300;
}

.primary-list a {
  @apply text-blue-600 hover:underline;
}


