<h1>GA4GH Phenoboard</h1>
<p>This application is intended to support biocuration of GA4GH Phenopackets. For each disease to be curated, users should read or create an Excel curation template file. Use the x window to curate cohorts (from tabular data), and use the mining window to perform text mining on individual cases.</p>

<div class="flex items-center space-x-2">
    <button
        (click)="loadHpo()"
        class="w-32 px-2 py-1 bg-blue-500 text-white rounded text-sm"
    >Load HPO</button>
    <span class="text-xs text-gray-500">{{ hpoMessage }}</span>
</div>

<div class="hpoloader-container">
    <app-phetoolsloader></app-phetoolsloader>
</div>

