<h1>HPO Curator</h1>
<p>This application is intended to support biocuration of GA4GH Phenopackets. For each disease to be curated, users should read or create an Excel curation template file. Use the x window to curate cohorts (from tabular data), and use the mining window to perform text mining on individual cases.</p>
<h3>Setup</h3>
<p>Very early stage app. For now, go to the Settings tab and load the hp.json file (you need to download it first from HPO webpage). Then, go to the Text mining tab, and copy in a text to show text mining</p>
<p>Example (copy this using Apple-C etc.)</p>
<pre>
    Orthoptic examination revealed strabismus, refractive errors, amblyopia, and nystagmus. Anterior 
    segment changes included anterior stromal dystrophy, cataracts, and panuveitis. Fundal changes 
    included optic nerve head drusen, optic disc hypoplasia, colobomas, and myelinated nerve fiber layer.
</pre>

